<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">


<head>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="google-site-verification" content="0T-9Qf-LoncGq6OI2VeCaHZ2KnaKF59in94VO_QjLl4" />

<link rel="stylesheet" type="text/css" href="/style/main.css" />
<link rel="shortcut icon" href="/favicon.ico" />

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/header.js"></script>

<link rel="stylesheet" type="text/css" href="style/main.css" />

<title>{{ page.title }} - Flynn</title>

</head>


<body>

<header>

	<a id="top_logo" href="/"><i class="logo"></i></a>

	<nav id="top_nav">		
		<dl>
			<dt><a href="#">我的…</a></dt>

			<dd><a href="/humor.html">心情</a></dd>
			<dd><a href="/notes.html">烂笔头</a></dd>
			<dd><a href="/pictures.html">影像</a></dd>
			<dd><a href="/projects.html">点子</a></dd>
		</dl>
	</nav>
	
    <form id="top_search" method="GET" action="http://www.baidu.com/baidu" target="_blank">
        <input type="hidden" name="tn" value="bds" />
        <input name=cl type=hidden value="3">
        <input name=ct type=hidden value="2097152"> 
        <input name=s type=hidden value="on">
        <input type="hidden" name="si" value="jiangfeng.org" />
        <input type="text" name="word" placeholder="搜索…"  class="search_box"/>
    </form>
</header>


<div id="content">

{{content}}

</div>

<footer>
	<p class="copyright">
	CopyRight © 2015<br />
	By Flynn</p>
</footer>


<!-- analytics -->
<!-- end analytics -->

</body>
</html>
