---
layout: base
---

<div id="content">
	{{ content }}

	<div class="clear"></div>
</div>


<div id="sidebar">
<ul>
	<li>
		<h2 class="title" href="#">Search</h2>
		<ul>
			<li>
				<form id="search_box" method="GET" action="http://www.google.com/search">
					<input type="hidden" name="domains" value="jiangfeng.org" />
					<input type="hidden" name="sitesearch" value="jiangfeng.org" />
					<input type="text" name="q" class="textarea"/>
					<input type="submit" class="button" value="Search">
				</form>
			</li> 
		</ul>
	</li>
	<li>
		<h2 class="title" href="#">RSS</h2>
		<ul>
			<li><a href="http://feeds.feedburner.com/flynn-notes">Notes</a></li>
			<li><a href="http://feeds.feedburner.com/flynn-humor">Humor</a></li>
			<li><a href="http://www.google.com/reader/shared/flynnjiang">GReader</a></li>
		</ul>
	</li>
	<li>
		<h2 class="title" href="#">About Me</h2>
		<ul>
			<li><a href="http://profiles.google.com/flynnjiang/">My Google Profile</a></li>
			<li><a href="http://www.flickr.com/photos/flynnjiang/">My Flickr</a></li>
			<li><a href="http://www.linkedin.com/in/flynnjiang/">My Resume</a></li>
		</ul>
	</li>
	<li>
		<h2 class="title" href="#">Links</h2>
		<ul>
			<li><a href="http://www.wwfchina.org/">WWF(世界自然基金会)</a></li> 
			<li><a href="http://www.archlinux.org/">Arch Linux</a></li> 
			<li><a href="http://www.kerneltravel.net/">Linux内核之旅</a></li> 
			<li><a href="http://www.core.org.cn/">中国开放教育资源协会</a></li> 
			<li><a href="http://zh.wikipedia.org/">中文维基百科</a></li> 
			<li><a href="http://aicommand.com/EOTI.htm">The End of the Internet</a></li> 
		</ul>
	</li>
</ul>
</div>
