---
layout: default
---
<!-- Simple Nav -->
<div class="post_nav">
	<a href="/">首页</a>
	<span class="post_nav_sep">>></span>
	
	{% if page.category == 'notes' %}
	<a href="/notes.html">烂笔头</a>
	{% else %}
	<a href="/humor.html">心情</a>
	{% endif %}
</div>

<!-- Post -->
<article class="post">

	<h1 class="post_title">{{page.title}}</h1>

	<div class="post_meta">{{page.date | date:"%Y-%m-%d"}}</div>

	<div class="post_content">
		{{content}}
	</div>

</article>    


<hr />


<!-- Donation -->
<div id="donation">

	<blockquote>“哎哟~ 这篇东西还不错哦，打赏一下博主吧，不怕他骄傲！”</blockquote>

	<p><img title="扫一扫，打赏任意金额。" src="/images/pay_qr_code.png" /></p>

</div>


{% if page.category == 'notes' %}

<!-- Related Posts -->
<div class="post_related">

	<div class="post_related_title">相关笔记</div>
	
	<ul class="post_related_list">
		{% for post in site.related_posts limited:3 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

</div>

{% else %}

<!-- Recent Posts -->
<div class="post_recent">

	<div class="post_recent_title">最近心情</div>

	<ul class="post_recent_list">
		{% for post in site.related_posts limited:3 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>

</div>

{% endif %}



<!-- Post Comments -->
<div id="post_commets">

	<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
	<!-- 多说评论框 end -->

	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"jiangfeng-org"};
		(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0]
				 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	<!-- 多说公共JS代码 end -->

	<div class="clear"></div>

</div>








